.container {
  max-width: 50%;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: lightpink;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.code-container {
  font-family: monospace;
  font-size: 1.2em;
  background-color: blanchedalmond;
}
